body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    background-image: url(../images/bgLeaf.svg);
    background-size: 15%;
}

.container {
    width: 60%;
    margin: auto;
}

.content {
    display: grid;
    grid-template-columns: 30% 70%;

    background-color: #FEFEC8;
}

header {
    padding: 1%;
    background-color: #2C5E38;
    color: #FEFEC8;
    text-align: center;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    column-gap: 0;
    background-color: #2C5E38;
    position: sticky;
    top: 0;
}

nav a {
    text-decoration: none;
    text-align: center;
    display: inline-block;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #FEFEC8;
}

.search {
    display: inline-block;
    width: 100%;
    padding: 1%;
    white-space: nowrap;
    /* https://bobbyhadz.com/blog/html-force-div-text-one-line */
}

.search input:disabled {
    border: 0px;
    background-color: #A3E27B;
    color: #2C5E38;
}

nav a:hover {
    background-color: #1B4D27;
}

nav input[type=submit] {
    margin-left: -3%;
}

aside {
    background-color: #FEFEC8;
    border-right: 1px solid #A38C6E;
    padding: 10%;
    padding-top: 5%;
}

section {
    background-color: #FEFEC8;
    padding: 5%;
    padding-top: 2%;
}

footer {
    padding: 2%;
    background-color: #2C5E38;
    color: #FEFEC8;
    text-align: center;
}

.btn {
    display: inline-block;
    font-size: 1em;
    padding: 2%;
    padding-left: 5%;
    padding-right: 5%;
    background-color: #2C5E38;
    color: #FEFEC8;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border: 0px;
}

aside .btn {
    padding: 5%;
    padding-left: 10%;
    padding-right: 10%;
}

.btn:hover {
    background-color: #1B4D27;
}

.cform {
    background-color: #FEFEC8;
    padding: 2%;
}

img {
    width: 100%;
}

cite, .attr, .note {
    font-style: italic;
    font-size: 0.8em;
}

.cform .content {
    margin-bottom: 2%;
}

.clabel {
    vertical-align: top;
    box-sizing: border-box;
}

.rbcont {
    width: 30%; /* change this to 50% in responsiveness */
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sbcont {
    text-align: right;
}

.cform input[type=submit] {
    background-color: #2C5E38;
    color: #FEFEC8;
    padding: 1%;
    padding-left: 5%;
    padding-right: 5%;
    font-weight: bold;
}

input[type=radio] {
    accent-color: #A3E27B;
    /* https://www.geeksforgeeks.org/css/how-to-change-the-color-of-radio-buttons-using-css/ */
}

.repline {
    align-items: center;
    margin-top: -2%;
    margin-bottom: 0% !important;
}

.toc {
    list-style: none;
    margin-left: -20%;
}

.listHead {
    font-weight: bold;
}

.indent {
    margin-left: -10%;
}

li {
    margin-bottom: 5%;
}

.ref a, .note a, li a {
    color: #000;
    text-decoration: none;
}

.ref a:hover, .note a:hover, li a:hover {
    text-decoration: underline;
}

.stick {
    position: sticky;
    top: 50px;
}

.card {
    margin-bottom: 5%;
}

.card h3 {
    margin-bottom: 1%;
}

.ref {
    list-style: none;
}

.plimg {
    display: block;
    margin: auto;
    margin-top: 3%;
    width: 60%;
}